<nav id="win95-system-bar">
    <button class="win95-bar-tab" style="font-weight: bolder; width: min-content;">
        <div class="win95-icon-win" style="height: 16px; width: 16px; margin-top: -2px; margin-bottom: -2px;"></div>
        <span>Start</span>
    </button>
    <button class="win95-bar-tab">
        <div class="win95-icon-post"></div>
        <span>Post #1</span>
    </button>
    <button class="win95-bar-tab">
        <div class="win95-icon-post"></div>
        <span>Post #2</span>
    </button>
    <div style="align-self: center; margin-left: auto; padding-right: 2px;">
        <div id="win95-bar-status">
            <span id="win95-clock">10:05 PM</span>
        </div>
    </div>
</nav>