@font-face {
  font-family: "MS Sans Serif Regular";
  src: url("/assets/fonts/ms_sans_serif-webfont.woff2") format("woff2"),
    url("/assets/fonts/ms_sans_serif-webfont.woff") format("woff");
  font-style: normal;
}

@import "colors";

@import "borders";

button {
  display: block;
  position: relative;
  background-color: $bg-primary;
  transition: all 0 none;
  font-size: 11px;
  letter-spacing: 1px;
  padding: 3px 2px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  @include win95-border-outset;
  // :hover {
  //   cursor: pointer;
  // }
  &:active {
    @include win95-border-inset;
  }
  &:focus {
    outline: 0;
  }
}
