---
---

@mixin icon($name) {
  &#{$name} {
    display: inline-block;
    height: 12px;
    width: 12px;
    background-size: contain;
    background-image: url(str-insert(
      $string:
        str-insert($string: "/assets/icons/win95-", $insert: $name, $index: 100),
      $insert: ".ico",
      $index: 100
    ));
  }
}

.win95-icon- {
  @include icon("win");
  @include icon("post");
}
