<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.liquid -%}

<body>

  <div id="screen">
    <main>
      {{ content }}
    </main>

    {%- include system_bar.html -%}
  </div>

</body>
<script src="{{ '/assets/js/win95-dynamic.js' | relative_url }}"></script>

</html>